/* You can add global styles to this file, and also import other style files */
@import "@fontsource/roboto/400.css";

body{
    color: whitesmoke;
    background-color: black;
    font-family: "Roboto";
}